body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://images.pexels.com/photos/1925536/pexels-photo-1925536.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 400px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    position: relative;
    margin-bottom: 20px;
    width: 100px;
    height: 100px; 
    right:25%;
    
}

.avatar img {
    position: absolute;
    width: 200%; 
    height: auto;
    bottom: 100%;
    transform: translateY(50%);
}



.login-title {
    color: white;
    margin-bottom: 20px;
    font-size: 24px; 
    font-weight: bold; 
    text-transform: uppercase; 
    font-family: 'Times New Roman', serif; 
}


.input-group {
    margin-bottom: 15px;
    width: 100%;
   
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
}

.input-group input::placeholder {
    color: white;
}

.terms {
    margin-bottom: 20px;
    color: white;
    font-size: 14px;
}

.terms a {
    color: #00aaff;
    text-decoration: none;
}

.login-btn {
    padding: 10px 20px;
    width: 100%;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.login-btn:hover {
    background: #0088cc;
}

.input-group input::placeholder {
    color: lightgray; 
}

